body {
  font-family: sans-serif;
  margin: 0;
  height: 100vh;
}

#root {
  --blue: #1e90ff;
  --white: #ffffff;
  --lightgray: #e5e5e5;
  --gray: #dfdfdf;
  --green: #00ba8a;
  --red: #e84855;
  --yellow: #ffe59d;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .lg-show {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .lg-hide {
    display: none;
  }
}

.black {
  color: var(--black);
}
.green {
  color: var(--green);
}

.bg-green {
  background-color: var(--green);
}

.red {
  color: var(--red);
}

.bg-red {
  background-color: var(--red);
}

.yellow {
  color: var(--yellow);
}

.bg-yellow {
  background-color: var(--yellow);
}
